.instructionFlexbox-container {
  padding: 1rem 1.25rem;
  /* margin-top: 2rem; */
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
  display: flex;

  flex-direction: column;
}

.flexbox-item-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.flexbox-item-bottom {
  display: flex;
  flex-direction: column;
}

.instructionTitle {
  margin-top: 1.25rem;
}

.instructionButton {
  margin: 1.5rem 0 0.5rem 0;
  font-family: inherit;
  line-height: 1.2;
  font-size: 3vw;
}
